<!-- Sidebar -->
<div class="bg-white border-right p-3" id="sidebar">
    <h3 class="text-black"> Búsquedas </h3>
    <hr class="text-black"/>

    <div class="list-group list-reset">
        <a class="list-group-item list-group-item-action" [routerLink]="['']" [routerLinkActive]="['active-link']">Buscar páis</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/region']" [routerLinkActive]="['active-link']">Por región</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/capital']" [routerLinkActive]="['active-link']">Por capital</a>
    </div>
</div>
  <!-- End Sidebar -->
